*,*::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14pt;
  font-feature-settings: "palt";
}
body{
  background-image: url(背景.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: gray;
}
h2{
  font-family: 'Pacifico', cursive;
}
.top{
  font-family: 'Pacifico', cursive;
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: #fff;
  padding: 0 1rem;
  width: 100%;
}
.top h1{
  flex: 1;
}
.top nav ul{
  list-style: none;
  display: flex;
}
.top nav ul li{
  padding: 10px;
}
a:hover{
  color: rgb(241, 128, 128);
}
.pro{
  padding-left: 30px;
}
.pro h2{
  padding-top: 80px;
  padding-bottom: 20px;
}
.aikon img {
  display: block; /* 画像自体を箱として表示させる */
  width: 150px; 
  height: 150px; 
  border-radius: 50%;
  margin-left: -20px;
  margin-bottom: 10px;
}
.pro h3{
  margin-bottom: 10px;
}
.pro p{
  margin-bottom: 50px;
}
.work{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding-left: 30px;
}
.box{
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100%;
  padding: 80px;
  align-items: center;
}

@keyframes slideshow{
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  28%{
    opacity: 1
  }
  38%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }

}

.gazo img {
  position: absolute;
  opacity: 0;
  animation :slideshow 24s linear infinite;
}

.gazo img:nth-child(2){
  animation-delay: 8s;
}

.gazo img:last-child{
  animation-delay: 16s;
}

.box2{
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100%;
  padding: 130px 80px;
  align-items: center;
}
.moji {
  position:absolute;
  margin: 80px;
  margin-left: 280px;
  color: #fff;
  background: rgba(0,0,0,.6);
  width: 200px;
  padding: 1em 0;
  font-size:2em;
  text-align:center;
 }
 .moji2 {
  position:absolute;
  margin: 30px;
  color: #fff;
  background: rgba(0,0,0,.6);
  width: 300px;
  padding: 1em 0;
  font-size:2em;
  text-align:center;
 }
 .hobby{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding-left: 30px;
}
.hobby ul{
  padding-top: 50px;
  padding-bottom: 30px;
}
.skill{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding-left: 30px;
}
.skill ul{
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 15px;
}
.info{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding-left: 30px;
}
.flowbtn6{
  border-radius:13px;		
  position:relative;
  display:inline-block;
  width:50px;
  height:50px;
  font-size:33px;
  color:#fff!important;
  transition:.5s;
  text-decoration:none;
  }	
  .flowbtn6 i{
  position:absolute;
  top:50%;
  left:50%;
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  }
  ul.snsbtniti{
    padding-top: 50px;
    padding-bottom: 30px;
    list-style: none;
  }
  .snsbtniti{
  display:flex;
  flex-flow:row wrap;
  justify-content:space-around;
  }
  .snsbtniti li{
  flex:0 0 33%;
  text-align:center!important;
  padding: 10px;
  }
  .flowbtn6:hover{
  -webkit-transform:translateY(-5px);
  -ms-transform:translateY(-5px);
  transform:translateY(-5px);
  }
  /* Twitter */
  .fl_tw1{
  background:#55acee;
  }
  /* Instagramアイコン位置 */
  .insta_btn6 .fa-instagram{
  font-size:40px;
  }
  /* Instagram紫グラデ背景 */
  .insta_btn6 {
  background:-webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background:linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  overflow:hidden;	
  }
  /* Instagramオレンジグラデ背景 */
  .insta_btn6:before{
  content: '';
  position: absolute;
  top:27px;
  left:-12px;
  width:59px;
  height:40px;
  background:-webkit-radial-gradient(#ffdb2c 7%, rgba(255, 105, 34, 0.3) 60%, rgba(255, 88, 96, 0) 70%);
  background:radial-gradient(#ffdb2c 7%, rgba(255, 105, 34, 0.3) 60%, rgba(255, 88, 96, 0) 70%);
  }
  